In [395]:
import os
import warnings
warnings.filterwarnings('ignore')
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType
from pyspark.sql.functions import split, count, when, isnan, col, regexp_replace
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [396]:
commodity_df = spark.read.csv("Margin Perdagangan dan Pengangkutan (MPP) Komoditas Kedelai Menurut Provinsi, 2022.csv",inferSchema=True)
commodity_df.show()

+--------------------+-----+----+
|                 _c0|  _c1| _c2|
+--------------------+-----+----+
|            Provinsi|    %|NULL|
|                ACEH|18.19|   3|
|      SUMATERA UTARA| 4.36|   2|
|      SUMATERA BARAT|  8.1|   2|
|                RIAU| 3.77|   2|
|               JAMBI| 5.21|   2|
|    SUMATERA SELATAN| 3.03|   2|
|            BENGKULU| 8.59|   2|
|             LAMPUNG| 5.67|   2|
|KEP. BANGKA BELITUNG|24.38|   3|
|           KEP. RIAU| 10.6|   2|
|         DKI JAKARTA|16.24|   3|
|          JAWA BARAT| 5.39|   2|
|         JAWA TENGAH| 8.11|   3|
|       DI YOGYAKARTA| 7.21|   2|
|          JAWA TIMUR|11.42|   3|
|              BANTEN|10.65|   3|
|                BALI|27.14|   2|
| NUSA TENGGARA BARAT| 8.95|   2|
| NUSA TENGGARA TIMUR| 5.52|   2|
+--------------------+-----+----+
only showing top 20 rows

In [397]:
commodity_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)

In [398]:
max_value_row = commodity_df.select("_c0", "_c1").orderBy(col("_c1").desc()).first()

In [399]:
if max_value_row:
    max_value_c0 = max_value_row["_c0"]
    max_value_c1 = max_value_row["_c1"]
    print(f"Nilai tertinggi dalam kolom _c1: {max_value_c1}, Nilai di kolom _c0 yang sesuai: {max_value_c0}")
else:
    print("Data tidak ditemukan.")

Nilai tertinggi dalam kolom _c1: 9.69, Nilai di kolom _c0 yang sesuai: GORONTALO

In [400]:
filtered_df = commodity_df.filter(col("_c1") > 8.00)

In [401]:
filtered_df.select("_c0", "_c1").show(truncate=False)

+--------------------+-----+
|_c0                 |_c1  |
+--------------------+-----+
|ACEH                |18.19|
|SUMATERA BARAT      |8.1  |
|BENGKULU            |8.59 |
|KEP. BANGKA BELITUNG|24.38|
|KEP. RIAU           |10.6 |
|DKI JAKARTA         |16.24|
|JAWA TENGAH         |8.11 |
|JAWA TIMUR          |11.42|
|BANTEN              |10.65|
|BALI                |27.14|
|NUSA TENGGARA BARAT |8.95 |
|KALIMANTAN BARAT    |20.35|
|KALIMANTAN UTARA    |26.67|
|SULAWESI TENGAH     |36.47|
|SULAWESI SELATAN    |15.9 |
|SULAWESI TENGGARA   |17.2 |
|GORONTALO           |9.69 |
|SULAWESI BARAT      |16.28|
|MALUKU              |25.65|
|MALUKU UTARA        |10.81|
+--------------------+-----+
only showing top 20 rows

In [402]:
smallest_3_df = commodity_df.orderBy(col("_c1")).limit(3)

In [403]:
smallest_3_df.select("_c0", "_c1").show(truncate=False)

+---------+-----+
|_c0      |_c1  |
+---------+-----+
|Provinsi |%    |
|KEP. RIAU|10.6 |
|BANTEN   |10.65|
+---------+-----+

In [404]:
highest_c2_row = commodity_df.orderBy(col("_c2").desc()).limit(1).first()

In [405]:
if highest_c2_row:
    highest_c2_value = highest_c2_row["_c2"]
    corresponding_c0_value = highest_c2_row["_c0"]
    print(f"Nilai tertinggi dalam kolom _c2: {highest_c2_value}, Nilai di kolom _c0 yang sesuai: {corresponding_c0_value}")
else:
    print("Data tidak ditemukan.")

Nilai tertinggi dalam kolom _c2: 4, Nilai di kolom _c0 yang sesuai: KALIMANTAN BARAT